<table>
    <thead>
      <tr>
        
        <th>Nom</th>
        <th>Position</th>
        <th>Horaire</th>
        <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let school of danceSchools">
        
        <td>{{ school.name }}</td>
        <td>{{ school.position }}</td>
        <td>{{ school.horaire }}</td>
        <td>
          <button (click)="deleteDanceSchool(school.id)">Supprimer</button>
          
        </td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="!danceSchools || danceSchools.length === 0">
    <p>Aucune école de danse trouvée.</p>
  </div>
  <div>
    <button routerLink="/admin/addschool">Ajouter une école de danse</button>
  </div>
  
  <div>
    <button routerLink="/admin/studyadmin">RETURN</button>
  </div>