<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Create new Dance Venue!</h1>
        </div>
        <form [formGroup]="registerForm" class="user">
          <div class="form-group">
            <input formControlName="name" type="text" class="form-control" placeholder="Name">
            <div class="alert alert-danger" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
              <p *ngIf="registerForm.get('name')?.hasError('required')">Name is required</p>
            </div>
          </div>
          <div class="form-group">
            <input formControlName="className" type="text" class="form-control" placeholder="Class Info (Bloc, Number, and Name)">
            <div class="alert alert-danger" *ngIf="registerForm.get('className')?.invalid && registerForm.get('className')?.touched">
              <p *ngIf="registerForm.get('className')?.hasError('required')">Class Information is required</p>
            </div>
          </div>
          <div class="form-group">
            <input formControlName="numberOfSeat" type="number" class="form-control" placeholder="Number of Seats">
            <div class="alert alert-danger" *ngIf="registerForm.get('numberOfSeat')?.invalid && registerForm.get('numberOfSeat')?.touched">
              <p *ngIf="registerForm.get('numberOfSeat')?.hasError('required')">Number of Seats is required</p>
            </div>
          </div>
          <div class="mt-6">
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Departure Address</h5>
                    <div class="form-floating mb-3 position-relative">
                      <input type="text"  [value]="departureAddress" [(ngModel)]="departureAddress" class="form-control" id="departureAddress" placeholder="Departure Address">
                      <label for="departureAddress">Departure Address</label>
                      <i class="bi bi-geo-alt-fill position-absolute top-50 end-0 translate-middle-y"></i>
                    </div>
                  </div>
                  <div id="map" ></div>
                </div>
              </div>

            </div>
          </div>


          <div class="d-flex justify-content-end flex-row mb-5 mt-4">
            <button class="btn btn-outline-primary"  cdkStepperNext>
              Go To My Role <i class="fa fa-angle-right"></i>
            </button>
          </div>
          <button type="button" class="btn btn-primary btn-block" (click)="save()">Add Dance Venue</button>
        </form>
      </div>
    </div>
  </div>
</div>
