<div class="container-fluid">
  <div class="row">
    <div class="card shadow mb-4" style="margin-left: 20px; margin-right: 20px;" *ngFor="let item of Competitions">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ item.name }}</h6>
        <div class="col-auto">
          {{ item.date | date }}
        </div>
      </div>
      <div class="card-body">
        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ item.rules }}</div>
        <div *ngFor="let item2 of users">
          <p>{{ item2.firstName }}&nbsp;&nbsp;{{ item2.lastName }}</p>
        </div>

        <!-- <div *ngIf="item.user.length === 0">
          <span>This competition does not have participants yet</span>
        </div> -->
        <div>
          <a (click)="downloadExcel(item)" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-download fa-sm text-white-50"></i>Telecharger</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a (click)="importExcel(item)" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa fa-upload"></i>Importer</a>
        </div>
      </div>
    </div>

    <div class="card shadow mb-4" style="margin-left: 20px; margin-right: 20px;" *ngIf="Competitions && Competitions.length === 0">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">You don't have competitions</h6>
      </div>
    </div>
  </div>
  <input #fileInput type="file" (change)="onFileChange($event)" style="display: none;">
  <ng-template #secondDialog>
    <div class="popup">
      <div class="popup-content">
        <h2 matDialogTitle style="color: #007bff; font-size: 24px;">{{ message }}</h2>
      </div>
    </div>
  </ng-template>
</div>
