<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- User Information -->
    <li class="nav-item">
      <div class="nav-link" >
        <div class="d-flex align-items-center">
          <div class="mr-2">
            <img class="img-profile rounded-circle" src="data:image/png;base64,{{userProfile.profileImage}}">
          </div>
          <div class="text-black-800 big">{{userProfile.firstName}} {{userProfile.lastName}}</div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" type="button" [id]="'alertsDropdown'" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger badge-counter" id="notificationCounter" style="font-size: 0.9rem;">{{ notificationCounter }}</span>
      </a>

      <!-- Dropdown - Notifications -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right dropdown-menu-end shadow animated--grow-in"
           aria-labelledby="alertsDropdown" style="max-height: 300px; overflow-y: auto;">
        <h6 class="dropdown-header">
          Notifications
        </h6>
        <ng-container *ngIf="allNotifications && allNotifications.length > 0; else noNotifications">
          <a *ngFor="let notification of allNotifications" class="dropdown-item d-flex align-items-center"
             [href]="notification.reclamationId ? 'admin/reclamation/' + notification.reclamationId : 'admin/reclamations/'"
             (click)="openNotification(notification.id)">
            <div class="mr-3">
              <div class="icon-circle bg-primary">
                <i class="fas fa-file-alt text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">{{notification.date}}</div>
              <span class="font-weight-bold">{{notification.message}}</span>
            </div>
          </a>
        </ng-container>

        <ng-template #noNotifications>
          <a class="dropdown-item text-center small text-gray-500">No new notifications</a>
        </ng-template>
      </div>
    </li>

    <!-- Logout Button -->
    <li class="nav-item">
      <a class="nav-link" href="/logout" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </li>
  </ul>
</nav>
<!-- End of Topbar -->
