    <!-- dancer section start -->
    <div class="dancer_section layout_padding">
      <div class="container">
        <h1 class="ballet_text">Join Competition</h1>
        <p class="amet_text">Join Alone</p>
        <div class="click_bt"><a href="/DanceScape/joining">Alone</a></div>
        <p class="amet_text_1">Join With Team</p>
        <div class="click_bt"><a href="/DanceScape/team">With Team</a></div>
        <p class="amet_text_1">.</p>

      </div>
    </div>
    <div class="space"></div>
    <!-- dancer section end -->
