
          <!-- Illustrations -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{c.name}} Competition created at: {{c.date}} and exprire at: {{c.expirationDate}}</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="/assets/Back-office/img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="/assets/Back-office/img/undraw_posting_photo.svg" alt="...">
                </div>
                <p>these are some Rules: {{c.rules}} about Competition:{{c.name}}  <a
                        target="_blank" rel="nofollow" href="https://undraw.co/">{{c.name}}</a></p>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">{{c.name}} &rarr;</a>
            </div>
        </div>
