<!-- school.component.html -->
<header>
    <h1>École de Danse</h1>
    <p>La passion de la danse.</p>
</header>
<nav>
    <div>
        <button routerLink="/DanceScape/lookdance">DanceSchool</button>
    </div>
</nav>
<section id="about">
    <h2>À Propos de Nous</h2>
    <p>Bienvenue à notre école de danse. Nous offrons une variété de cours de danse pour tous les âges et niveaux.</p>
    <p>Nos instructeurs professionnels vous aideront à atteindre vos objectifs de danse et à développer vos compétences.</p>
</section>
<section id="courses">
    <h2>Cours</h2>
    <ul>
        <li>Cours de Danse Classique</li>
        <li>Cours de Ballet Contemporain</li>
        <li>Cours de Jazz</li>
        <li>Cours de Hip-Hop</li>
        <li>Cours de Salsa</li>
        <!-- Ajoutez d'autres cours -->
    </ul>
</section>
<section id="events">
    <h2>Événements</h2>
    <p>Restez à l'écoute pour nos prochains spectacles et représentations.</p>
</section>
<footer>
    <p>&copy; 2024 École de Danse. Tous droits réservés.</p>
</footer>
