  <mat-tab-group [backgroundColor]="'accent'" [color]="'warn'">
    <mat-tab label="System Health Status">
      <div class="chart-container">
        <div #barChartContainer></div>
      </div>
    </mat-tab>
    <mat-tab label="Reports Count Per Statuses
">
      <div class="chart-container">
        <div #pieChartContainer></div>
      </div>
    </mat-tab>
    <mat-tab label="Users Role Distribution
">
      <div class="chart-container">
        <div #donutChartContainer></div>
      </div>
    </mat-tab>
    <mat-tab label="Users Reclamations Per Day
">
      <div class="chart-container scatter-chart-container">
        <div #scatterChartContainer></div>
      </div>
    </mat-tab>
  </mat-tab-group>



