          <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3">Dance Scape  <sup>Dashboard</sup></div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
              <a class="nav-link" href="index.html">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
              Interface
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="admin/list-users" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
              <i class="fas fa-fw fa-folder"></i>

              <span >List users</span>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="admin/reclamations" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
              <i class="fas fa-fw fa-folder"></i>

              <span >List Reclamations</span>
            </a>

          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" href="admin/monitoring" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
              <i class="fas fa-fw fa-folder"></i>

              <span >Monitoring</span>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <!-- Wrap the span with an anchor tag -->
              <a href="/admin/listCompetition" style="color: white;">
                <span>Competition</span>
              </a>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Competitions:</h6>
                <a class="collapse-item" href="/admin/listCompetition">List Competitions</a>
                <a class="collapse-item" href="/admin/addCompetition">Add Competition</a>
              </div>
            </div>
          </li>

          <!-- Nav Item - Utilities Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <!-- Wrap the span with an anchor tag -->
              <a href="/admin/listDanceVenue" style="color: white;">
                <span>Dance Venue</span>
              </a>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Competitions:</h6>
                <a class="collapse-item" href="/admin/listDanceVenue">List DanceVenue</a>
                <a class="collapse-item" href="/admin/addDanceVenue">Add DanceVenue</a>
              </div>
            </div>
          </li>
          <!-- Nav Item - Utilities Collapse Menu -->


          <!-- Divider -->




      </ul>
      <!-- End of Sidebar -->
